@import '../assets/sass/base'

.ticket-component
  position: relative
  margin-top: 10px
  background-color: transparent
  .icon
    fill: #ccc
  .user
    position: absolute
    width: 20px
    height: 20px
    top: 10px
    left: 10px
    border: 2px solid $gray
    border-radius: 100%
    svg
      position: relative
      left: 1px
      width: 15px
      height: 15px
      color: $gray

  .btn
    cursor: pointer
    width: 210px
    height: 40px
    padding: 1em 2em 1em 2.8em
    color: inherit
    font-size: inherit
    line-height: 0
    background-color: $white
    border: 1px solid $gray
    white-space: nowrap
    overflow: hidden
    text-align: left
    &:hover
      border-color: $gray-dark
    &:focus
      outline: none
      color: $white
      background-color: $green
      border-color: $gray-dark
  .dropdown
    display: none
  &:focus
    outline: none
  &.active
    .btn
      border-color: $gray-dark
    .dropdown
      display: block