@import '../assets/sass/base'

.selector
  margin: 1em
  padding: 0
  list-style: none
  display: flex
  display: flex
  align-items: center
  justify-content: center
  .title
    width: 100%
    margin-right: 2em
  .buttons
    display: flex
    align-items: center
    justify-content: center
    .button
      cursor: pointer
      color: $white
      background-color: $gray-dark
      font-size: 1.5em
      line-height: 1
      padding: .1em .5em .2em
      &:focus
        outline: none
        border-color: $gray-dark
        background-color: $green
      &:disabled
        cursor: default
        background-color: $gray-darker
  &:first-child
    margin-top: .5em
  &:last-child
    margin-bottom: .5em
  .added
    width: 1em
    margin: 0 10px
    text-align: center
    font-weight: 600
    font-size: 1.2em