@import './colors'
@import './variables'


*
  box-sizing: border-box
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

ul,
ol
  list-style: none

body
  color: $gray-dark
  font-size: 14px
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  text-rendering: optimizeSpeed